In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/ronitguptaaa/Documents/Excel Analysis/OrderSales/1-Learn-Data.csv')
display(df)

,Employee ID,Last Name,First Name,Customer ID,Order ID,Quantity,Price (SRP),Product ID,Product Name,Order Date,Ship Date,Courier Website,Ship Via,Supplier Name
0,1,Davolio,Nancy,1,1,1,41.90,2201,Triumph Pro Helmet,12/2/2015,12/15/2015,http://www.ups.com,UPS,Triumph
1,3,Leverling,Janet,41,1002,3,1739.85,102181,Mozzie,12/2/2015,12/3/2015,NaN,Pickup,Craze
2,3,Leverling,Janet,41,1002,3,33.90,5205,Xtreme Adult Helmet,12/2/2015,12/3/2015,NaN,Pickup,Craze
3,4,Peacock,Margaret,77,1003,3,53.90,2213,Triumph Vertigo Helmet,12/2/2015,12/14/2015,http://www.ups.com,UPS,Triumph
4,4,Peacock,Margaret,77,1003,3,14.50,5402,Xtreme Anatomic Ladies Saddle,12/2/2015,12/14/2015,http://www.ups.com,UPS,Craze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3679,7,King,Robert,266,3189,2,15.50,4106,InFlux Lycra Glove,12/12/2015,12/18/2015,http://www.loomis.com,Loomis,InFlux
3680,7,King,Robert,267,3190,1,53.90,2207,Triumph Vertigo Helmet,12/12/2015,12/14/2015,NaN,Pickup,Triumph
3681,9,Dodsworth,Anne,268,3191,3,33.90,5208,Xtreme Youth Helmet,12/12/2015,12/18/2015,http://www.usps.com,Parcel Post,Craze
3682,1,Davolio,Nancy,269,3192,2,479.85,302202,Rapel,12/12/2015,12/18/2015,http://www.ups.com,UPS,Craze
3683,1,Davolio,Nancy,270,3193,2,11.90,5301,Xtreme Mtn Lock,12/12/2015,12/13/2015,http://www.usps.com,Parcel Post,Craze