In [12]:
from pyspark.sql import SparkSession
import mysql.connector

In [13]:
spark = SparkSession.builder.appName("YourAppName").getOrCreate()

In [15]:
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='ronitgupta28',
    database='ExcelAnalysis'
)

cursor = conn.cursor()

In [25]:
query_columns = "SHOW COLUMNS FROM EmployeeReview"
cursor.execute(query_columns)
columns = [column[0] for column in cursor.fetchall()]

In [26]:
query = "SELECT * FROM EmployeeReview"
cursor.execute(query)
data = [row for row in cursor.fetchall()]

In [29]:
df = spark.createDataFrame(data, schema=columns)

In [34]:
df.createOrReplaceTempView('EmployeeReview')

In [36]:
df = spark.sql(
    """SELECT * FROM EmployeeReview"""
)
df.show()

+-------------+---------------+--------------------+-------+-----+--------------------+--------------------+------------------+--------------------+--------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+---------------------+
|Respondent ID|     Start Date|                Race| Gender|  Age|      EducationLevel|      EmploymentType|   ExperienceLevel|            JobTitle|SeniorityLevel|          Promotions|            Industry|BusinessType|         CompanySize|      JobPerformance|      IsCompensation|            IsGrowth|         IsDecisions| IsCompanyBenefits|IsGrowthOpportunities|
+-------------+---------------+--------------------+-------+-----+--------------------+--------------------+------------------+--------------------+--------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+---------------------+
|  11439191449|3/23/2020 14:14|               Asian|   Male|25-34|   Bachelor's Degree|  Full Time Employee|Declined to Answer|  Declined to Answer|          NULL|                NULL|                NULL|     Unknown|             Unknown|  Declined to Answer|  Declined to Answer|  Declined to Answer|  Declined to Answer|Declined to Answer|   Declined to Answer|
|  11439383910|3/23/2020 15:09|              Indian| Female|35-44|   Bachelor's Degree|  Full Time Employee| Five to ten years|Data Analytics Sp...|  Senior level|In the last 1 to ...|           Insurance|  For Profit| 50 to 250 Employees|      Strongly agree|               Agree|               Agree|      Somewhat agree|    Strongly agree|       Strongly agree|
|  11439535466|3/23/2020 16:17|Black or African ...| Female|45-54|Vocational/Techni...|          Unemployed|Declined to Answer|  Declined to Answer|          NULL|                NULL|                NULL|     Unknown|             Unknown|  Declined to Answer|  Declined to Answer|  Declined to Answer|  Declined to Answer|Declined to Answer|   Declined to Answer|
|  11439544453|3/23/2020 16:20|Black or African ...| female|35-44|   Bachelor's Degree|  Full Time Employee|Less than one year|        data analyst|     Mid level| Never been promoted|Finance & Financi...|  For Profit|1,000 to 10,000 E...|      Strongly agree|      Strongly agree|      Strongly agree|      Strongly agree|             Agree|       Somewhat agree|
|  11439653368|3/23/2020 17:00|  Hispanic or Latino|Females|45-54|   Bachelor's Degree|  Full Time Employee| Ten years or more|             Teacher|        Tenure| Never been promoted|           Education|  Government|250 to 1,000 Empl...|               Agree|               Agree|               Agree|            Disagree|             Agree|                Agree|
|  11439666265|3/23/2020 17:04|  Hispanic or Latino|   Male|35-44|        Some College|  Full Time Employee| Ten years or more| Senior Project Lead|     Mid level|In the last 1 to ...|Entertainment & L...|  For Profit|More than 10,000 ...|               Agree|Neither agree nor...|               Agree|               Agree|             Agree|                Agree|
|  11439706736|3/23/2020 17:17|  Declined to Answer| Female|55-64|High School Diplo...|  Temporary/Seasonal| Ten years or more| Concessions & baker|          NULL|In the last 1 to ...|Entertainment & L...|  For Profit|More than 10,000 ...|            Disagree|            Disagree|   Somewhat disagree|            Disagree|          Disagree|    Strongly disagree|
|  11439784338|3/23/2020 17:46|Black or African ...| Female|45-54|  Associate's Degree|  Full Time Employee|Less than one year|Credentials & Con...|  Senior level| Multiple Promotions|           Education|  Government|More than 10,000 ...|      Somewhat agree|   Strongly disagree|Neither agree nor...|   Strongly disagree|    Strongly agree|       Strongly agree|
|  11439856001|3/23/2020 18:13|               White|      F|25-34|   Bachelor's Degree|  Full Time Employee|Less than one year|Analytics Consultant|  Senior level| Never been promoted|Information Techn...|  For Profit|Less than 50 Empl...|      Strongly agree|      Strongly agree|      Strongly agree|      Strongly agree|             Agree|       Strongly agree|
|  11439860786|3/23/2020 18:15|  Hispanic or Latino| Female|45-54|Master's Degree o...|  Full Time Employee| One to five years| Assistant principal|  Senior level|In the last 1 to ...|           Education|  Government|More than 10,000 ...|Neither agree nor...|Neither agree nor...|               Agree|            Disagree|             Agree|                Agree|
|  11439863583|3/23/2020 18:16|  Hispanic or Latino| Femalr|45-54|   Bachelor's Degree|  Full Time Employee| Five to ten years|        Case manager|  Senior level|Prefer not to answer|Healthcare & Phar...|  Non Profit|1,000 to 10,000 E...|  Declined to Answer|  Declined to Answer|  Declined to Answer|  Declined to Answer|Declined to Answer|   Declined to Answer|
|  11439879433|3/23/2020 18:22|  Hispanic or Latino| Female|18-24|High School Diplo...|          Unemployed|Declined to Answer|  Declined to Answer|          NULL|                NULL|                NULL|     Unknown|             Unknown|  Declined to Answer|  Declined to Answer|  Declined to Answer|  Declined to Answer|Declined to Answer|   Declined to Answer|
|  11439951440|3/23/2020 18:49|  Hispanic or Latino| Female|45-54|  Associate's Degree|  Full Time Employee| Ten years or more|  Eligibility Worker|       Unknown|   More than 5 years|Social/Public Ser...|  Government|1,000 to 10,000 E...|      Somewhat agree|      Somewhat agree|      Somewhat agree|      Somewhat agree|             Agree|       Somewhat agree|
|  11439984425|3/23/2020 19:01|  Hispanic or Latino| Female|45-54|Master's Degree o...|  Full Time Employee| Ten years or more|High school couns...|  Senior level|    Within 12 Months|           Education|  Non Profit|Less than 50 Empl...|      Strongly agree|      Strongly agree|      Strongly agree|               Agree|    Strongly agree|       Strongly agree|
|  11440023859|3/23/2020 19:15|  Hispanic or Latino| Female|45-54|Master's Degree o...|  Full Time Employee| Five to ten years|Administrative Of...|     Mid level|   More than 5 years|          Government|  Government|Less than 50 Empl...|      Strongly agree|      Somewhat agree|      Strongly agree|      Somewhat agree|    Strongly agree|       Strongly agree|
|  11440043550|3/23/2020 19:22|  Hispanic or Latino| Female|45-54|Master's Degree o...|  Full Time Employee| Ten years or more|  Elementary Teacher|  Senior level|   More than 5 years|           Education|  Government|More than 10,000 ...|      Somewhat agree|      Somewhat agree|               Agree|      Somewhat agree|    Somewhat agree|       Somewhat agree|
|  11440096517|3/23/2020 19:40|  Hispanic or Latino|      M|35-44|  Associate's Degree|  Full Time Employee| One to five years|Electrician Appre...|     Mid level|    Within 12 Months|Information Techn...|  For Profit| 50 to 250 Employees|               Agree|               Agree|               Agree|               Agree|             Agree|                Agree|
|  11440122088|3/23/2020 19:51|               White| Female|25-34|   Bachelor's Degree|  Full Time Employee|Declined to Answer|               38120|     Mid level| Never been promoted|  Consumer Packaging|  For Profit|More than 10,000 ...|      Strongly agree|               Agree|      Strongly agree|      Somewhat agree|             Agree|                Agree|
|  11440136742|3/23/2020 19:56|  Hispanic or Latino| Female|  65+|   Bachelor's Degree|          Unemployed|Declined to Answer|  Declined to Answer|          NULL|                NULL|                NULL|     Unknown|             Unknown|  Declined to Answer|  Declined to Answer|  Declined to Answer|  Declined to Answer|Declined to Answer|   Declined to Answer|
|  11440156234|3/23/2020 20:03|               White|   Male|  65+|Master's Degree o...|Self Employed/Ent...| One to five years|        Data Analyst|     Mid level| Never been promoted|Business Support ...|  For Profit| 50 to 250 Employees|      Strongly agree|               Agree|Neither agree nor...|Neither agree nor...|             Agree| Neither agree nor...|
+-------------+---------------+--------------------+-------+-----+--------------------+--------------------+------------------+--------------------+--------------+--------------------+--------------------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [8]:
df = spark.sql(
    """
WITH EmployeeReview AS (
    SELECT DISTINCT
        `Respondent ID` AS RespondentID,
        to_date(`Start Date`, 'M/d/y H:m') AS StartDate,
        Race,
        CASE
            WHEN Race = 'Asian' THEN 1
            WHEN Race = 'Black and white' THEN 2
            WHEN Race = 'Black or African American' THEN 3
            WHEN Race = 'Hispanic or Latino' THEN 4
            WHEN Race = 'Indian' THEN 5
            WHEN Race = 'Multiracial or Multiethnic' THEN 6
            WHEN Race = 'Native American or Alaska Native' THEN 7
            WHEN Race = 'White' THEN 8
            WHEN Race = 'Prefer not to say' THEN 9
            WHEN Race = 'Declined to Answer' THEN 10
        END AS RaceID,
        CASE
            WHEN Gender IN ('F', 'Femail', 'Females', 'Femalr', 'Technically female') THEN 'Female'
            WHEN Gender IN ('M', 'male', 'Man') THEN 'Male'
            ELSE Gender
        END AS Gender,
        CASE
            WHEN Age LIKE '%-%' THEN
                (CAST(SUBSTRING_INDEX(Age, '-', 1) AS DECIMAL) + CAST(SUBSTRING_INDEX(Age, '-', -1) AS DECIMAL)) / 2
            WHEN Age LIKE '%+%' THEN
                CAST(SUBSTRING_INDEX(Age, '+', 1) AS DECIMAL)
            ELSE
                CAST(Age AS DECIMAL)
        END AS Age,
        EducationLevel,
        CASE 
            WHEN EducationLevel = 'High School Diploma/GED' THEN 1
            WHEN EducationLevel = 'Vocational/Technical School' THEN 2
            WHEN EducationLevel = 'Some High School' THEN 3
            WHEN EducationLevel = 'Some College' THEN 4
            WHEN EducationLevel = 'Associate''s Degree' THEN 5
            WHEN EducationLevel = 'Bachelor''s Degree' THEN 6
            WHEN EducationLevel = 'Master''s Degree or Higher' THEN 7
        END AS EducationLevelID,
        EmploymentType,
        CASE 
            WHEN EmploymentType = 'Unemployed' THEN 1
            WHEN EmploymentType = 'Temporary/Seasonal' THEN 2
            WHEN EmploymentType = 'Short Term Contract Employee' THEN 3
            WHEN EmploymentType = 'Part Time Employee' THEN 4
            WHEN EmploymentType = 'Long Term Contract Employee' THEN 5
            WHEN EmploymentType = 'Full Time Employee' THEN 6
            WHEN EmploymentType = 'Self Employed/Entrepreneur' THEN 7
        END AS EmploymentTypeID,
        ExperienceLevel,
        CASE 
            WHEN ExperienceLevel = 'Less than one year' THEN 1
            WHEN ExperienceLevel = 'One to five years' THEN 2
            WHEN ExperienceLevel = 'Five to ten years' THEN 3
            WHEN ExperienceLevel = 'Ten years or more' THEN 4
            WHEN ExperienceLevel = 'Declined to Answer' THEN 5
        END AS ExperienceLevelID,
        JobTitle,
        SeniorityLevel,
        Promotions,
        CASE 
            WHEN Promotions = 'In the last 1 to 5 years' THEN 1
            WHEN Promotions = 'More than 5 years' THEN 2
            WHEN Promotions = 'Multiple Promotions' THEN 3
            WHEN Promotions = 'Never been promoted' THEN 4
            WHEN Promotions = 'Prefer not to answer' THEN 5
            WHEN Promotions = 'Within 12 Months' THEN 6
        END AS PromotionsID,
        Industry,
        BusinessType,
        CASE 
            WHEN BusinessType = 'For Profit' THEN 1
            WHEN BusinessType = 'Government' THEN 2
            WHEN BusinessType = 'Non Profit' THEN 3
            WHEN BusinessType = 'Unknown' THEN 4
        END AS BusinessTypeID,
        JobPerformance,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(JobPerformance))) = 'agree' THEN 8
END AS JobPerformanceID,
        IsCompensation,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(IsCompensation))) = 'agree' THEN 8
END AS IsCompensationID,
        IsGrowth,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(IsGrowth))) = 'agree' THEN 8
END AS IsGrowthID,
        IsDecisions,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(IsDecisions))) = 'agree' THEN 8
END AS IsDecisionsID,
        IsGrowthOpportunities,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(IsGrowthOpportunities))) = 'agree' THEN 8
END AS IsGrowthOpportunitiesID
    FROM
        ExcelAnalysis.EmployeeReview
    WHERE
        `Respondent ID` IS NOT NULL
        AND `Start Date` IS NOT NULL
        AND Race IS NOT NULL
        AND Gender IS NOT NULL
        AND (Age IS NOT NULL AND Age != '')
        AND EducationLevel IS NOT NULL
        AND EmploymentType IS NOT NULL
        AND ExperienceLevel IS NOT NULL
        AND JobTitle IS NOT NULL
        AND SeniorityLevel IS NOT NULL
        AND Promotions IS NOT NULL
        AND Industry IS NOT NULL
        AND BusinessType IS NOT NULL
        AND JobPerformance IS NOT NULL
        AND IsCompensation IS NOT NULL
        AND IsGrowth IS NOT NULL
        AND IsDecisions IS NOT NULL
        AND IsGrowthOpportunities IS NOT NULL
),
EmployeeSurvey AS (
    SELECT DISTINCT
        RespondentID,
        PostalCode,
        Salary,
        BonusStatus,
        EmployeeCount,
        CASE 
            WHEN EmployeeCount = '1,000 to 10,000 Employees' THEN 1
            WHEN EmployeeCount = '250 to 1,000 Employees' THEN 2
            WHEN EmployeeCount = '50 to 250 Employees' THEN 3
            WHEN EmployeeCount = 'Less than 50 Employees' THEN 4
            WHEN EmployeeCount = 'More than 10,000 Employees' THEN 5
        END AS CompanyEmployeeCountID,
        IsFairness,
        CASE 
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'strongly disagree' THEN 1
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'strongly agree' THEN 2
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'somewhat disagree' THEN 3
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'somewhat agree' THEN 4
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'neither agree nor disagree' THEN 5
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'disagree' THEN 6
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'declined to answer' THEN 7
    WHEN LTRIM(RTRIM(LOWER(IsFairness))) = 'agree' THEN 8
END AS IsFairnessID
    FROM
        ExcelAnalysis.EmployeeSurvey
    WHERE
        RespondentID IS NOT NULL
        AND PostalCode IS NOT NULL
        AND Salary IS NOT NULL
        AND BonusStatus IS NOT NULL
        AND EmployeeCount IS NOT NULL
        AND IsFairness IS NOT NULL
),
JobTitleMapping AS (
    SELECT DISTINCT LTRIM(RTRIM(LOWER(JobTitle))) AS JobTitle, ROW_NUMBER() OVER (ORDER BY LTRIM(RTRIM(LOWER(JobTitle)))) AS JobTitleID FROM EmployeeReview
),
SeniorityLevelMapping AS (
    SELECT DISTINCT LTRIM(RTRIM(LOWER(SeniorityLevel))) AS SeniorityLevel, ROW_NUMBER() OVER (ORDER BY LTRIM(RTRIM(LOWER(SeniorityLevel)))) AS SeniorityLevelID FROM EmployeeReview
),
IndustryMapping AS (
    SELECT DISTINCT LTRIM(RTRIM(LOWER(Industry))) AS Industry, ROW_NUMBER() OVER (ORDER BY LTRIM(RTRIM(LOWER(Industry)))) AS IndustryID FROM EmployeeReview
),
BonusStatusMapping AS (
    SELECT DISTINCT LTRIM(RTRIM(LOWER(BonusStatus))) AS BonusStatus, ROW_NUMBER() OVER (ORDER BY LTRIM(RTRIM(LOWER(BonusStatus)))) AS BonusStatusID FROM EmployeeSurvey
)

SELECT
    ER.RespondentID,
    ER.StartDate,
    ER.Race,
    ER.RaceID,
    ER.Gender,
    CASE 
        WHEN ER.Gender = 'Female' THEN 1
        WHEN ER.Gender = 'Male' THEN 2
    END AS GenderID,
    ROUND(ER.Age) AS Age,
    ER.EducationLevel,
    ER.EducationLevelID,
    ER.EmploymentType,
    ER.EmploymentTypeID,
    ER.ExperienceLevel,
    ER.ExperienceLevelID,
    ER.JobTitle,
    JTM.JobTitleID,
    ER.SeniorityLevel,
    SLM.SeniorityLevelID,
    ER.Promotions,
    ER.PromotionsID,
    ER.Industry,
    IM.IndustryID,
    ER.BusinessType,
    ER.BusinessTypeID,
    ER.JobPerformance,
    ER.JobPerformanceID,
    ER.IsCompensation,
    ER.IsCompensationID,
    ER.IsGrowth,
    ER.IsGrowthID,
    ER.IsDecisions,
    ER.IsDecisionsID,
    ER.IsGrowthOpportunities,
    ER.IsGrowthOpportunitiesID,
    ES.PostalCode,
    ES.Salary,
    ES.BonusStatus,
    BSM.BonusStatusID,
    ES.EmployeeCount,
    ES.CompanyEmployeeCountID,
    ES.IsFairness,
    ES.IsFairnessID
FROM
    EmployeeReview AS ER
    INNER JOIN EmployeeSurvey AS ES ON ER.RespondentID = ES.RespondentID
    INNER JOIN JobTitleMapping AS JTM ON LTRIM(RTRIM(LOWER(ER.JobTitle))) = LTRIM(RTRIM(LOWER(JTM.JobTitle)))
    INNER JOIN SeniorityLevelMapping AS SLM ON LTRIM(RTRIM(LOWER(ER.SeniorityLevel))) = LTRIM(RTRIM(LOWER(SLM.SeniorityLevel)))
    INNER JOIN IndustryMapping AS IM ON LTRIM(RTRIM(LOWER(ER.Industry))) = LTRIM(RTRIM(LOWER(IM.Industry)))
    INNER JOIN BonusStatusMapping AS BSM ON LTRIM(RTRIM(LOWER(ES.BonusStatus))) = LTRIM(RTRIM(LOWER(BSM.BonusStatus)));
    """
)

24/06/23 15:02:05 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `ExcelAnalysis`.`EmployeeReview` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 135 pos 8;
'WithCTE
:- 'CTERelationDef 6, false
:  +- 'SubqueryAlias EmployeeReview
:     +- 'Distinct
:        +- 'Project ['Respondent ID AS RespondentID#29, 'to_date('Start Date, M/d/y H:m) AS StartDate#30, 'Race, CASE WHEN ('Race = Asian) THEN 1 WHEN ('Race = Black and white) THEN 2 WHEN ('Race = Black or African American) THEN 3 WHEN ('Race = Hispanic or Latino) THEN 4 WHEN ('Race = Indian) THEN 5 WHEN ('Race = Multiracial or Multiethnic) THEN 6 WHEN ('Race = Native American or Alaska Native) THEN 7 WHEN ('Race = White) THEN 8 WHEN ('Race = Prefer not to say) THEN 9 WHEN ('Race = Declined to Answer) THEN 10 END AS RaceID#31, CASE WHEN 'Gender IN (F,Femail,Females,Femalr,Technically female) THEN Female WHEN 'Gender IN (M,male,Man) THEN Male ELSE 'Gender END AS Gender#32, CASE WHEN 'Age LIKE %-% THEN ((cast('SUBSTRING_INDEX('Age, -, 1) as decimal(10,0)) + cast('SUBSTRING_INDEX('Age, -, -1) as decimal(10,0))) / 2) WHEN 'Age LIKE %+% THEN cast('SUBSTRING_INDEX('Age, +, 1) as decimal(10,0)) ELSE cast('Age as decimal(10,0)) END AS Age#33, 'EducationLevel, CASE WHEN ('EducationLevel = High School Diploma/GED) THEN 1 WHEN ('EducationLevel = Vocational/Technical School) THEN 2 WHEN ('EducationLevel = Some High School) THEN 3 WHEN ('EducationLevel = Some College) THEN 4 WHEN ('EducationLevel = Associates Degree) THEN 5 WHEN ('EducationLevel = Bachelors Degree) THEN 6 WHEN ('EducationLevel = Masters Degree or Higher) THEN 7 END AS EducationLevelID#34, 'EmploymentType, CASE WHEN ('EmploymentType = Unemployed) THEN 1 WHEN ('EmploymentType = Temporary/Seasonal) THEN 2 WHEN ('EmploymentType = Short Term Contract Employee) THEN 3 WHEN ('EmploymentType = Part Time Employee) THEN 4 WHEN ('EmploymentType = Long Term Contract Employee) THEN 5 WHEN ('EmploymentType = Full Time Employee) THEN 6 WHEN ('EmploymentType = Self Employed/Entrepreneur) THEN 7 END AS EmploymentTypeID#35, 'ExperienceLevel, CASE WHEN ('ExperienceLevel = Less than one year) THEN 1 WHEN ('ExperienceLevel = One to five years) THEN 2 WHEN ('ExperienceLevel = Five to ten years) THEN 3 WHEN ('ExperienceLevel = Ten years or more) THEN 4 WHEN ('ExperienceLevel = Declined to Answer) THEN 5 END AS ExperienceLevelID#36, 'JobTitle, 'SeniorityLevel, 'Promotions, CASE WHEN ('Promotions = In the last 1 to 5 years) THEN 1 WHEN ('Promotions = More than 5 years) THEN 2 WHEN ('Promotions = Multiple Promotions) THEN 3 WHEN ('Promotions = Never been promoted) THEN 4 WHEN ('Promotions = Prefer not to answer) THEN 5 WHEN ('Promotions = Within 12 Months) THEN 6 END AS PromotionsID#37, 'Industry, 'BusinessType, CASE WHEN ('BusinessType = For Profit) THEN 1 WHEN ('BusinessType = Government) THEN 2 WHEN ('BusinessType = Non Profit) THEN 3 WHEN ('BusinessType = Unknown) THEN 4 END AS BusinessTypeID#38, 'JobPerformance, CASE WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = strongly disagree) THEN 1 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = strongly agree) THEN 2 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = somewhat disagree) THEN 3 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = somewhat agree) THEN 4 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = neither agree nor disagree) THEN 5 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = disagree) THEN 6 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = declined to answer) THEN 7 WHEN ('LTRIM('RTRIM('LOWER('JobPerformance))) = agree) THEN 8 END AS JobPerformanceID#39, 'IsCompensation, CASE WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = strongly disagree) THEN 1 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = strongly agree) THEN 2 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = somewhat disagree) THEN 3 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = somewhat agree) THEN 4 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = neither agree nor disagree) THEN 5 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = disagree) THEN 6 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = declined to answer) THEN 7 WHEN ('LTRIM('RTRIM('LOWER('IsCompensation))) = agree) THEN 8 END AS IsCompensationID#40, 'IsGrowth, ... 5 more fields]
:           +- 'Filter (((((isnotnull('Respondent ID) AND isnotnull('Start Date)) AND isnotnull('Race)) AND (isnotnull('Gender) AND (isnotnull('Age) AND NOT ('Age = )))) AND ((isnotnull('EducationLevel) AND isnotnull('EmploymentType)) AND (isnotnull('ExperienceLevel) AND isnotnull('JobTitle)))) AND ((((isnotnull('SeniorityLevel) AND isnotnull('Promotions)) AND isnotnull('Industry)) AND (isnotnull('BusinessType) AND isnotnull('JobPerformance))) AND ((isnotnull('IsCompensation) AND isnotnull('IsGrowth)) AND (isnotnull('IsDecisions) AND isnotnull('IsGrowthOpportunities)))))
:              +- 'UnresolvedRelation [ExcelAnalysis, EmployeeReview], [], false
:- 'CTERelationDef 7, false
:  +- 'SubqueryAlias EmployeeSurvey
:     +- 'Distinct
:        +- 'Project ['RespondentID, 'PostalCode, 'Salary, 'BonusStatus, 'EmployeeCount, CASE WHEN ('EmployeeCount = 1,000 to 10,000 Employees) THEN 1 WHEN ('EmployeeCount = 250 to 1,000 Employees) THEN 2 WHEN ('EmployeeCount = 50 to 250 Employees) THEN 3 WHEN ('EmployeeCount = Less than 50 Employees) THEN 4 WHEN ('EmployeeCount = More than 10,000 Employees) THEN 5 END AS CompanyEmployeeCountID#44, 'IsFairness, CASE WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = strongly disagree) THEN 1 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = strongly agree) THEN 2 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = somewhat disagree) THEN 3 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = somewhat agree) THEN 4 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = neither agree nor disagree) THEN 5 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = disagree) THEN 6 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = declined to answer) THEN 7 WHEN ('LTRIM('RTRIM('LOWER('IsFairness))) = agree) THEN 8 END AS IsFairnessID#45]
:           +- 'Filter (((isnotnull('RespondentID) AND isnotnull('PostalCode)) AND isnotnull('Salary)) AND ((isnotnull('BonusStatus) AND isnotnull('EmployeeCount)) AND isnotnull('IsFairness)))
:              +- 'UnresolvedRelation [ExcelAnalysis, EmployeeSurvey], [], false
:- 'CTERelationDef 8, false
:  +- 'SubqueryAlias JobTitleMapping
:     +- 'Distinct
:        +- 'Project ['LTRIM('RTRIM('LOWER('JobTitle))) AS JobTitle#46, row_number() windowspecdefinition('LTRIM('RTRIM('LOWER('JobTitle))) ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS JobTitleID#47]
:           +- 'SubqueryAlias EmployeeReview
:              +- 'CTERelationRef 6, false, false
:- 'CTERelationDef 9, false
:  +- 'SubqueryAlias SeniorityLevelMapping
:     +- 'Distinct
:        +- 'Project ['LTRIM('RTRIM('LOWER('SeniorityLevel))) AS SeniorityLevel#48, row_number() windowspecdefinition('LTRIM('RTRIM('LOWER('SeniorityLevel))) ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS SeniorityLevelID#49]
:           +- 'SubqueryAlias EmployeeReview
:              +- 'CTERelationRef 6, false, false
:- 'CTERelationDef 10, false
:  +- 'SubqueryAlias IndustryMapping
:     +- 'Distinct
:        +- 'Project ['LTRIM('RTRIM('LOWER('Industry))) AS Industry#50, row_number() windowspecdefinition('LTRIM('RTRIM('LOWER('Industry))) ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS IndustryID#51]
:           +- 'SubqueryAlias EmployeeReview
:              +- 'CTERelationRef 6, false, false
:- 'CTERelationDef 11, false
:  +- 'SubqueryAlias BonusStatusMapping
:     +- 'Distinct
:        +- 'Project ['LTRIM('RTRIM('LOWER('BonusStatus))) AS BonusStatus#52, row_number() windowspecdefinition('LTRIM('RTRIM('LOWER('BonusStatus))) ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS BonusStatusID#53]
:           +- 'SubqueryAlias EmployeeSurvey
:              +- 'CTERelationRef 7, false, false
+- 'Project ['ER.RespondentID, 'ER.StartDate, 'ER.Race, 'ER.RaceID, 'ER.Gender, CASE WHEN ('ER.Gender = Female) THEN 1 WHEN ('ER.Gender = Male) THEN 2 END AS GenderID#27, 'ROUND('ER.Age) AS Age#28, 'ER.EducationLevel, 'ER.EducationLevelID, 'ER.EmploymentType, 'ER.EmploymentTypeID, 'ER.ExperienceLevel, 'ER.ExperienceLevelID, 'ER.JobTitle, 'JTM.JobTitleID, 'ER.SeniorityLevel, 'SLM.SeniorityLevelID, 'ER.Promotions, 'ER.PromotionsID, 'ER.Industry, 'IM.IndustryID, 'ER.BusinessType, 'ER.BusinessTypeID, 'ER.JobPerformance, ... 17 more fields]
   +- 'Join Inner, ('LTRIM('RTRIM('LOWER('ES.BonusStatus))) = 'LTRIM('RTRIM('LOWER('BSM.BonusStatus))))
      :- 'Join Inner, ('LTRIM('RTRIM('LOWER('ER.Industry))) = 'LTRIM('RTRIM('LOWER('IM.Industry))))
      :  :- 'Join Inner, ('LTRIM('RTRIM('LOWER('ER.SeniorityLevel))) = 'LTRIM('RTRIM('LOWER('SLM.SeniorityLevel))))
      :  :  :- 'Join Inner, ('LTRIM('RTRIM('LOWER('ER.JobTitle))) = 'LTRIM('RTRIM('LOWER('JTM.JobTitle))))
      :  :  :  :- 'Join Inner, ('ER.RespondentID = 'ES.RespondentID)
      :  :  :  :  :- 'SubqueryAlias ER
      :  :  :  :  :  +- 'SubqueryAlias EmployeeReview
      :  :  :  :  :     +- 'CTERelationRef 6, false, false
      :  :  :  :  +- 'SubqueryAlias ES
      :  :  :  :     +- 'SubqueryAlias EmployeeSurvey
      :  :  :  :        +- 'CTERelationRef 7, false, false
      :  :  :  +- 'SubqueryAlias JTM
      :  :  :     +- 'SubqueryAlias JobTitleMapping
      :  :  :        +- 'CTERelationRef 8, false, false
      :  :  +- 'SubqueryAlias SLM
      :  :     +- 'SubqueryAlias SeniorityLevelMapping
      :  :        +- 'CTERelationRef 9, false, false
      :  +- 'SubqueryAlias IM
      :     +- 'SubqueryAlias IndustryMapping
      :        +- 'CTERelationRef 10, false, false
      +- 'SubqueryAlias BSM
         +- 'SubqueryAlias BonusStatusMapping
            +- 'CTERelationRef 11, false, false

In [ ]:
df